* {
  font-family: 'Ubuntu Sans', serif;
}

#root {
  margin: auto;
}

#wrapper {
  padding: 20px;
  background-color: transparent;
  max-width: 1600px;
  margin: auto;
}

#hero {
  border-radius: 20px 20px 400px 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.ant-typography {
  font-size: 16px;
}

.break-column {
  height: 100px;
  width: 0;
  background-color: red;
}

.footerNav {
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
}

.footerNav li {
  padding-top: 10px;
  padding-right: 80px;
}

.ant-modal-content,
.ant-modal-body {
  padding: 0 !important;
  overflow: hidden;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 16px;
}

h1 {
  font-size: clamp(2.25rem, calc(2rem + 3vw), 4.5rem);
  line-height: 1.1;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

ul {
  font-size: 18px;
}

p {
  line-height: 150%;
  font-size: 16px;
}

#hero-image {
  top: 100px;
}

@media only screen and (max-width: 900px) {
  #hero {
    border-radius: 20px 20px 200px 20px;
    gap: 0px;
  }

  #hero-image {
    top: 0;
  }

  .footerNav {
    width: 100%;
    max-height: unset;
  }
}
