#root {
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 20px;
  margin: 0;
}

h1 {
  font-size: clamp(2.25rem, calc(2rem + 3vw), 4.5rem);
  line-height: 1.1;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 150%;
  font-size: 18px;
}
